*.o
.vscode

## Latex stuff
*.aux
*.dvi
*.log

# java
*.class
*.jar
/cal/rsa/RSA/nbproject/private/
/cal/rsa/RSA/build/
/cal/rsa/RSA/dist/

# oprp/trab1_mpi
/oprp/trab1_mpi/input
/oprp/trab1_mpi/gauss
/sdi/trabfinal/BancoRmi/nbproject/private/
/sdi/trabfinal/BancoRmi/dist/
/sdi/trabfinal/BancoRmi/build/